@font-face{
      font-family: Cream Cake;
      src: url("../assets/fonts/Cream\ Cake.ttf");
  }
  
  @font-face{
      font-family: fa-regular-400;
      src: url("../assets/fonts/fa-regular-400.ttf");
  }
  
  @font-face{
      font-family: fa-brands-400;
      src: url("../assets/fonts/fa-brands-400.ttf");
  }
  @font-face{
      font-family: fa-solid-900;
      src: url("../assets/fonts/fa-solid-900.ttf");
  }
  
  @keyframes floating { 
      0% { transform: translate(0,  0px); } 
      50%  { transform: translate(0, 10px); } 
      100%   { transform: translate(0, -0px); }     
  } 
  
  @keyframes slide { 
      0% { transform: translate(0,  -505px); } 
      100%   { transform: translate(0, 0px); }     
  }
  
  @keyframes moto { 
      5% { transform: rotate(-45deg) }
      97% { transform: translate(80vw,0px);}
      98% {transform:translateX(0)}
      99% {opacity: 0%;}
      100% {opacity: 100%;}
  } 
  
  
  html{
    min-height: 100%;
  }
  
  body{
    background-image: url("../assets/images/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  section{
    height: 100%;
  }
  .contenedor{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .tamaño{
      font-size: 3vh;
    }
    .tamaño1{
        font-size: 2vh;
      }
    .ancho-20{
        width: 20% !important;
    }
    .ancho-30{
        width: 30% !important;
    }
    .ancho-40{
        width: 40% !important;
    }
    .ancho-77{
        width: 63% !important;
    }
    .ancho-50{
        width: 50% !important;
    }
    .ancho-60{
        width: 60% !important;
    }
    .w-60{
        width: 60% !important;
    }
    .w-40{
        width: 40% !important;        
    }
    .justify-content-flex-end{
        justify-content: flex-end;
    }
    .imagen_derecha{
        z-index: 0;
        width: 25%;
        height: 15%;
        position: absolute;
        top: 50px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    
      
    }
    
a{
  font-family: Berlin sans FB;
}
    .imagen_izquierda{
        z-index: 0;
        position: absolute;
        bottom: 40px;
        right: 0;
        width: 25%;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    
    
    .animationxs{
        cursor: pointer;
        animation-name: moto;
        animation-duration: 4s;
        animation-iteration-count: 1;
    }
    
    .moto.animationx{
        cursor: pointer;
        animation-name: moto;
        animation-duration: 4s;
        animation-iteration-count: 1;
    }
    .titulos{
        font-family: Cream Cake;
        font-size: 11vh;
        color: #707070;
    }
    
    .centrado{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imagen{
        width: 74%;
    }
    .menu{
        background-color: black !important;
    }
    .icono{
        font-family: fa-regular-400;
        padding-right: 7px;
        color: #432A90;
    }
    .iconoBrands{
        font-family: fa-brands-400;
        color: #432A90;
    }
    .iconoSolid{
        font-family: fa-solid-900;
        padding-right: 7px;
        color: #432A90;
    }
    
.pedidos{
      background-color: white;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 16px;
      opacity: 90%;   
      animation: slide 3s 1;
  }
  
  .text-align-center{
      text-align: center;
  }
  .fuentes{
      font-family: Berlin Sans FB;
      font-size: 2vh;
  }
  
  .campos{
      color: #707070;
  }
  
  
  
  
  
  .texto{
      color: white;
      font-size: 17px;
  }
  
  
  
  
  
  
  
  
    
  /*boton*/
  .custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }
    button {
      margin: 20px;
    }
  
  .btn-3 {
      background: rgb(91, 62, 179);
    background: linear-gradient(0deg, rgba(91,62,179,1) 0%, rgba(67, 42, 144, 1) 100%);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      
    }
    .btn-3 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-3:before,
    .btn-3:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
       background: rgba(91,62,179,1);
      transition: all 0.3s ease;
    }
    .btn-3:before {
      height: 0%;
      width: 2px;
    }
    .btn-3:after {
      width: 0%;
      height: 2px;
    }
    .btn-3:hover{
       background: transparent;
      box-shadow: none;
    }
    .btn-3:hover:before {
      height: 100%;
    }
    .btn-3:hover:after {
      width: 100%;
    }
    .btn-3 span:hover{
       color:rgba(91,62,179,1);
    }
    .btn-3 span:before,
    .btn-3 span:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
       background: rgba(91,62,179,1);
      transition: all 0.3s ease;
    }
    .btn-3 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-3 span:after {
      width: 0%;
      height: 2px;
    }
    .btn-3 span:hover:before {
      height: 100%;
    }
    .btn-3 span:hover:after {
      width: 100%;
    }
    
    
    #fichero{
      display: none;
    }
    
    
    
    #texto{
      display: inline-block;
      word-wrap: break-word;
      max-width: 100%;
      font: 400 13.3333px Arial;
    }

    @media only screen and (max-width:668px){
        
      
      .ancho-40{
      width: 100% !important;
      }
      .ancho-50{
          width: 100% !important;
      }
      .ancho-20{
          width: 100% !important;
      }
      .ancho-60{
          width: 100% !important;
      }
      
      
      .ancho-50{
          width: 100%;
      }
      .d-flex{
          display: block !important;
      }
      .centrado{
          margin: 0 !important;
      }
      .pedidos{
        margin: 10px;
      }
      .fuentes{
          font-size: 16px;
      }
      .tamaño1{
          font-size: 17px;
      }
      .moto{
        display: none;
      }
      .imagen_derecha{
        display: none;
      }
      .imagen_izquierda{
        display: none;
      }
  }  